<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/card-deck.css" type="text/css" />
  </head>

  <body>
    <!-- Row One -->
    <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2019 BEST YEAR</h5>
          <img src="https://bit.ly/2F4aQBa" class="card-img-top img" alt="fireworks">
          <p class="card-text">HAPPY NEW YEAR TO EVERONE INCLUDING THE HATERS AND THE FAKE NEWS MEDIA! 2019 WILL BE A FANTASTIC YEAR FOR THOSE NOT SUFFERING FROM TRUMP DERANGEMENT SYNDROME. JUST CALM DOWN AND ENJOY THE RIDE. GREAT THINGS ARE HAPPENING FOR OUR COUNTRY!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">7 days ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Covfefe</h5>
          <img src="https://bit.ly/2QlH258" class="card-img-top img" alt="covfefe">
          <p class="card-text">Despite the constant negative press covfefe</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">12 days ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">3 mins ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

    </div>

  </body>
</html>
