<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Add Style Sheets if required. -->
  </head>

  <body>
    <!-- Row One -->
    <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added 3 mins ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-comments"></i></button>
                </form>
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-thumbs-up"></i></button>
                </form>
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-star-half-alt"></i></button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added 3 mins ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-comments"></i></button>
                </form>
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-thumbs-up"></i></button>
                </form>
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-star-half-alt"></i></button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added 3 mins ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-comments"></i></button>
                </form>
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-thumbs-up"></i></button>
                </form>
                <form action="/show" method="get">
                  <button class="btn btn-primary btn-sm rounded-0" type="submit"><i class="fas fa-star-half-alt"></i></button>
                </form>
              </div>

        </div>

      </div>

    </div>

  </body>
</html>
