<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Add Style Sheets if required. -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


<body>


  <!-- Card Deck -->

  <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5">
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 section="feed">Title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Added 3 mins ago</small>
      </div>
    </div>


  </div>



  </div>


</body>
</html>
