<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/card-deck.css" type="text/css" />
  </head>
 
  <body>
    <!-- Row One -->
    <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Learn How to Avoid Going to Prison</h5>
          <img src="https://bit.ly/2Fu2uVm" class="card-img-top" alt="jail">
          <p class="card-text">In this article learn how to avoid jail time. www.wikihow.com/how-to-avoid-jail</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">32 minutes ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">дебитис омиттантур еи сеа.</h5>
          <img src="https://bit.ly/2ACm11d" class="card-img-top" alt="putin">
          <p class="card-text">Лорем ипсум долор сит амет, не темпор еурипидис десеруиссе пер. Ид сит дебет доцтус либерависсе. Не бландит сентентиае вих, ут харум инимицус еум. Не хис вери посидониум.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">4 hours ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How to Stop Your Dentures Falling Out</h5>
          <img src="https://bit.ly/2LMFalj" class="card-img-top" alt="no-teeth-trump">
          <p class="card-text">Removable partial or full dentures require proper care to keep them clean, free from stains and looking their best. For more on good denture care visit: https://www.mydenturecare.com</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">6 hours ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

    </div>

    <!-- Row Two -->
    <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How the Greatest Public Speakers Use Their Hands During Speeches</h5>
          <img src="https://bit.ly/2Qj8kt1" class="card-img-top" alt="jail">
          <p class="card-text">Learn how to use your hands to dramatically improve your public speaking skills! https://wapo.st/2QkDno3</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">8 hours ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">дебитис омиттантур еи сеа.</h5>
          <img src="https://bit.ly/2ACm11d" class="card-img-top" alt="putin">
          <p class="card-text">Лорем ипсум долор сит амет, не темпор еурипидис десеруиссе пер. Ид сит дебет доцтус либерависсе. Не бландит сентентиае вих, ут харум инимицус еум. Не хис вери посидониум.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">9 hours ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How to Stop Your Dentures Falling Out</h5>
          <img src="https://bit.ly/2LMFalj" class="card-img-top" alt="no-teeth-trump">
          <p class="card-text">Removable partial or full dentures require proper care to keep them clean, free from stains and looking their best. For more on good denture care visit: https://www.mydenturecare.com</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">10 hours ago</small>

          <!--Action Buttons -->
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Action Buttons">
                <form action="/${resource.id}" method="get">
                  <button class="resource-button btn btn-primary btn-sm rounded-0" type="submit"><i class="far fa-eye"></i> | View</button>
                </form>
              </div>

        </div>

      </div>

    </div>

  </body>
</html>
