<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/categories.css" type="text/css" />
  </head>


<body>
  <div class="d-inline-flex bd-highlight">

    <div class="row">

      <div class="p-0">
        <form action="/" method="get">
          <button type="submit" class="btn btn-primary btn-lg flex-fill bd-highlight rounded-0 btn-all">All</button>
        </form>
      </div>

      <div class="p-0">
        <form action="/topic/biology" method="get">
          <button type="submit" class="btn btn-secondary btn-lg flex-fill bd-highlight rounded-0 btn-biology">Biology</button>
        </form>
      </div>

      <div class="p-0">
        <form action="/topic/geology" method="get">
          <button type="sumbit" class="btn btn-success btn-lg flex-fill bd-highlight rounded-0 btn-science">Geology</button>
        </form>
      </div>

      <div class="p-0">
        <form action="/topic/politics" method="get">
          <button type="submit" class="btn btn-danger btn-lg flex-fill bd-highlight rounded-0 btn-politics">Politics</button>
        </form>
      </div>

      <div class="col-md-auto p-0">
        <form action="/topic/anatomy" method="get">
          <button type="submit" class="btn btn-warning btn-lg flex-fill bd-highlight rounded-0 btn-history">Anatomy</button>
        </form>
      </div>

      <div class="p-0">
        <form action="/topic/economics" method="get">
          <button type="submit" class="btn btn-info btn-lg flex-fill bd-highlight rounded-0 btn-fake">Economics</button>
        </form>
      </div>

      <div class="p-0">
        <form action="/topic/philosophy" method="get">
          <button type="submit" class="btn btn-dark btn-lg flex-fill bd-highlight rounded-0 btn-cats">Philosophy</button>
        </form>
      </div>

    </div>

  </div>
</body>
</html>
