



<!-- Catergory Bar -->

<div class="d-flex bd-highlight">
  <button type="button" class="btn btn-primary btn-lg flex-fill bd-highlight rounded-0">All</button>
  <button type="button" class="btn btn-secondary btn-lg flex-fill bd-highlight rounded-0">Maths</button>
  <button type="button" class="btn btn-success btn-lg flex-fill bd-highlight rounded-0">Science</button>
  <button type="button" class="btn btn-danger btn-lg flex-fill bd-highlight rounded-0">Politics</button>
  <button type="button" class="btn btn-warning btn-lg flex-fill bd-highlight rounded-0">History</button>
  <button type="button" class="btn btn-info btn-lg flex-fill bd-highlight rounded-0">Dog Memes</button>
  <button type="button" class="btn btn-dark btn-lg flex-fill bd-highlight rounded-0">Cat Memes</button>
</div>
