
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="/images/odyssey-logo.png" width="60" height="60" class="d-inline-block align-top" alt="Odyssey Logo">
        Odyssey
    </a>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
        </button>
</nav>
