
<nav class="navbar navbar-light bg-light d-flex fixed-top">
  <a class="navbar-brand">
    <img src="/images/odyssey-logo.png" width="80" height="80" class="d-inline-block align-top" alt="Odyssey Logo">
  </a>

  <form class="form-inline flex-grow-1">
    <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search">
  </form>

  <div>
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-home"></i></button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-star"></i></button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-user"></i></button>
  </div>
</nav>
