    <nav id="nav-bar">
      <img class="logo" src="">
      <span class="header">Odyssey</span>
      <input type="text" placeholder="Search..">
      <button class="compose-button">Add</button>
      <button class="profile-page">Profile</button>
    </nav>/
