
<nav class="navbar navbar-light bg-light d-flex fixed-top bb-3">

<!-- Logo -->
    <div class="nav nav-pills nav-justified">
        <a class="navbar-brand d-flex align-items-left pl-3">
        <img src="/images/odyssey-logo.png" width="80" height="80" class="d-inline-block align-top" alt="Odyssey Logo"></a>
        </a>
    </div>


<!-- Buttons -->
    <div class="nav justify-content-end col3">
      <ul class="nav nav-pills">

        <li class="nav-item pr-4">
          <form action="/login" method="get">
            <button class="btn nav-link active btn-lg" type="submit"><i class="fas fa-sign-in-alt"></i> | Log-in </button>
          </form>
        </li>

        <li class="nav-item pr-4">
          <form action="/register" method="get">
            <button class="btn nav-link active btn-lg" type="submit"><i class="fas fa-user-plus"></i> | Register</button>
          </form>
        </li>
      </ul>
    </div>

</nav>
