<html lang ="en">

<head>
  <h3>ODYSSEY</h3>
</head>
<body>
  <header>
  </header>
      <h3>Logged in as: Issa meee Mario</h3>
      <form action="/logout" method="POST"> <button>Logout</button></form>
      <form action="/login" method="GET"> <button>Login</button></form>
      <form action=/register><button>Register</button></form>
    <% } %>
</body>
</html>



<nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Tweeter</span>
      <button class="compose-button">Compose</button>
    </nav>
