
<nav class="navbar navbar-light bg-light d-flex">
  <a class="navbar-brand">
    <img src="/images/odyssey-logo.png" width="60" height="60" class="d-inline-block align-top" alt="Odyssey Logo">
        Odyssey
  </a>

  <form class="form-inline flex-grow-1">
    <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
       </button>
  </form>
  <div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Starred
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Account
    </button>
  </div>


</nav>
