<!DOCTYPE html>
<html lang="en">
  <header>
    <title>Add New | Odyssey</title>
  </header>

  <head>
    <!-- LINKS -->
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
        <link rel="stylesheet" href="/styles/new.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- SCRIPTS -->
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/profile.js"></script>
        <!-- bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!--Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script> -->
  </head>


  <body>

    <!--Nav-Bar-->
    <header><% include ./partials/_header-logged-in %></header>

    <!--Jumbotron Message-->
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container pb-4">
        <h1 class="display-4">Continue Your Odyssey</h1>
        <p class="lead">Add a resource using the form below</p>
      </div>
    </div>

    <br >
    <br >

    <!--Add New Form-->

    <form action="/new" method="POST" class="input-field pl-5 pr-3 w-50" id='AddNewPage'>

      <!--Title-->
      <div class="form-group">
        <label for="title-area">Odyssey Title:</label>
        <input name='title' class="form-control" id="resouce-title-box" rows="1">
      </div>

      <!--URL-->
      <div class="form-group">
        <label for="exampleFormControlInput1">URL:</label>
        <input name='url' type="url" class="form-control" id="exampleFormControlInput1" value='https://'>
      </div>

      <!--Image URL-->
      <div class="form-group">
        <label for="exampleFormControlSelect1">Image URL:</label>
        <input name='image' class="form-control" id='form-control'>
      </div>

      <!--Category-->
      <div class="form-group">
        <label for="exampleFormControlSelect1">Topic:</label>
        <input name='topic' class="form-control" id='topicSelect'>
      </div>

      <!--Description-->
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description:</label>
        <input name='description' class="form-control" id="exampleFormControlTextarea1" rows="4">

      </div>

      <!--Button-->
      <div>
        <button id='submitOdysseyN' type="submit" class="btn btn-primary">Add Odyssey
        </button>
      </div>
    </form>

    <br >
    <br >

  </body>
</html>
