<!DOCTYPE html>
<html lang="en">
  <header>
    <title>Add a New Odyssey</title>
  </header>

  <head>
    <!-- LINKS -->

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles/register.css" type="text/css" />

    <!-- SCRIPTS -->

        <!-- bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!--Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script> -->

  </head>



  <body>
    <header><% include ./partials/_header-logged-in %></header>



    <div class="jumbotron jumbotron-fluid pb-4">
      <div class="container">
        <h1 class="display-4">Continue Your Odyssey</h1>
        <p class="lead">Add a resource using the form below</p>
      </div>
    </div>

    <form class="input-field pl-5 pr-3 w-50">

      <div class="form-group">
        <label for="title-area">Resource Title</label>
        <textarea class="form-control" id="resouce-title-box" rows="1"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Resource URL</label>
        <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="http://">
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Select a Catergory</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>None</option>
          <option>Maths</option>
          <option>Science</option>
          <option>Politics</option>
          <option>History</option>
          <option>Dog Meme</option>
          <option>Cat Meme</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Resource Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Add Resource
        </button>
      </div>
    </form>



  </body>
</html>
