<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Profile | Odyssey</title>
    <!-- LINKS -->
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="/styles/profile.css" type="text/css" />

    <!-- SCRIPTS -->
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/profile.js"></script>
      <script type="text/javascript" src="/scripts/userresources.js"></script>
      <script type="text/javascript" src="/scripts/userlikes.js"></script>
      <script type="text/javascript" src="/scripts/moment.js"></script>


      <!-- bootstrap -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!--Font Awesome -->
      <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
  </head>

  <body>

    <!--Nav-Bar-->
    <header><% include ./partials/_header-logged-in %></header>

    <!-- Profile Header -->
    <div class="jumbotron">
      <div class="container pb-5 profile-container">
        <div class="profile-greeting trump-greeting"></div>
        <p class="lead">Your uploaded Odysseys await...</p>
        <img src="https://bit.ly/2BVrrE5" class="img-circle trump-image" alt="Profile Photo">
      </div>
    </div>

    <br>
    <br>
    <br>
    <br >

    <!-- Card Deck -->
    <div class="split left">
      <p class="lead pl-2 liked trump-liked">
        <i class="fas fa-thumbs-up icon"></i>&nbsp;&nbsp;&nbsp;
          <strong>Liked Odysseys</strong>
      </p>
      <hr class="my-4">
        <!-- Card Deck -->
        <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5" id="profile-likes">
        </div>
    </div>


    <div class="split right">
      <p class="lead pl-2 uploads trump-upload">
        <i class="fas fa-file-upload icon"></i>&nbsp;&nbsp;&nbsp;
          <strong>Uploaded Odysseys</strong>
      </p>
      <hr class="my-4">
      <div class="card-deck mt-3 pt-3 pb-3 pl-5 pr-5" id="profile-cards">
      </div>
        <!-- Card Deck -->
    </div>




    <!--Add & Scroll button -->
    <footer><% include ./partials/_footer %></footer>

  </body>
</html>
