<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register Page</title>

<!-- LINKS -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/register.css" type="text/css" />

<!-- SCRIPTS -->

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script> -->

  </head>

  <header><% include ./partials/_header %></header>

  <body>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4 pt-1">Welcome to Odyssey!</h1>
          <p class="lead">
            What is Odyssey?
            You can think of Odyssey like a web-based pinboard for learning.
          </p>
        <hr class="my-4">
          <p class="my-4">
          Register or Log-in to Odyssey and begin your adventure today!
          </p>
        <button class="btn btn-light btn-lg" role="button">Register</button>
        <button class="btn btn-light btn-lg" role="button">Log-in</button>
      </div>
    </div>

  </body>
</html>
