<!-- Header
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="brand" href="index.html">SERENITY.</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="index.html">Home</a></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="nav-header">General</li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="singleproject.html">Single Project</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="testimonials.html">Testimonials</a></li>
						<li class="divider"></li>
						<li class="nav-header">Portfolio Fixed</li>
						<li><a href="portfolio2.html">Two Columns</a></li>
						<li><a href="portfolio3.html">Three Columns</a></li>
						<li><a href="portfolio4.html">Four Columns</a></li>
						<li class="divider"></li>
						<li class="nav-header">Masonry</li>
						<li><a href="masonry2.html">Two Columns</a></li>
						<li><a href="masonry3.html">Three Columns</a></li>
						<li><a href="masonry4.html">Four Columns</a></li>
						<li class="divider"></li>
						<li class="nav-header">Blog</li>
						<li><a href="blogindex.html">Index</a></li>
						<li><a href="blogsingle.html">Single Post</a></li>
						<li><a href="404.html">404</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Features <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="columns.html">Columns</a></li>
						<li><a href="team.html">Team Styles</a></li>
						<li><a href="elements.html">More Elements</a></li>
						<li><a href="icons.html">Icons</a></li>
					</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="#">Buy Theme</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
<!-- Intro
================================================== -->
<div class="introtitle">
	<div class="container">
		<h1>Web Design & Photo Studio</h1>
		<p>
			 Based in Sidney, Australia, our <i>team of artists</i> specialize in<br/>
			 <b>Professional Photography</b> for companies and individuals.
		</p>
	</div>
</div>
