
body {
  background-color: #EEE;

  .btn-all {
    width: 231px;

  }

  .btn-biology {
    width: 231px;

  }

  .btn-science {
    width: 231px;

  }

  .btn-politics {
    width: 231px;

  }

  .btn-history {
    width: 231px;

  }

  .btn-fake {
    width: 231px;

  }

  .btn-cats {
    width: 231px;

  }





}
