
body {
  background-color: #EEE;

  .btn-all {
    width: 200px;
  
  }

  .btn-math {
    width: 200px;

  }

  .btn-science {
    width: 200px;

  }

  .btn-politics {
    width: 200px;

  }

  .btn-history {
    width: 200px;

  }

  .btn-dogs {
    width: 200px;

  }

  .btn-cats {
    width: 200px;

  }





}
