/* Fake News CSS File */


body {
  background-color: #EEE;

  .jumbotron {
    background-color: #1187db;
    padding-top: 150px;
    padding-bottom: 40px;
  }

  .lead {
    color: #FFFFFF
  }


  h1 {
    color: #FFFFFF;
  }
  .card-deck {
    padding-left: 10px;
  }

}
