/* LOGIN CSS FILE */

body {
  background-color: #EEE;

  .jumbotron {
    background-color: #1187db;
    padding-top: 250px;
    padding-bottom: 150px;
  }

  .login-form {
    color: #FFFFFF
  }

  #inputEmail {
    width: 500px;
  }

  #inputPassword {
    width: 500px;
  }

  p {
    color: #FFFFFF;
  }

}
