/* NAVBAR CSS FILE */
<<<<<<< HEAD

.navbar-light bg-light {
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

.navbar-brand{

}

=======
>>>>>>> 4991a61cc641effcd893dead2d1822867fb1cd2c
