/* New CSS File */

body {
  background-color: #EEE;

  .jumbotron {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .lead {
    color: #FFFFFF
  }


  h1 {
    color: #FFFFFF;
  }
  .card-deck {
    padding-left: 10px;
  }

}
