/* LOGIN CSS FILE */

body {
  background-color: #EEE;

  .jumbotron {
    background-color: #1187db;
    padding-top: 120px;
    padding-bottom: 30px;
  }

  h1 {
    color: #FFFFFF
  }

  .login-form {
    color: #FFFFFF
  }

  .form-group {
    width: 500px;
  }


  login-redirect {
    color: #FFFFFF;
  }

  p {
    color: #FFFFFF;
  }

}
