/* REGISTER CSS FILE */

body {
  background-color: #EEE;

  .jumbotron {
    background-color: #1187db;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .lead {
    color: #FFFFFF
  }


  h1 {
    color: #FFFFFF;
  }

  .hr my-4 {
    color: #FFFFFF;
  }

}
